restwebservice-app/src/main/mule/restwebservice-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fab77a68-0334-4df1-b9a8-98989b2f9280" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="87d265cc-3a96-40eb-9460-cc0a651d037e" basePath="/sqlrest/CUSTOMER" >
		<http:request-connection host="www.thomas-bayer.com" port="80" />
	</http:request-config>
	<flow name="restwebservice-appFlow" doc:id="70ae93df-0651-451e-b2c9-c50c7fb76397" >
		<http:listener doc:name="Listener" doc:id="b8863d66-89e3-4341-9679-98102587abea" config-ref="HTTP_Listener_config" path="/customer/{id}"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="1e8f432d-5e37-4402-8bcd-669de02ff525" variableName="id"/>
		<http:request method="PATCH" doc:name="Request" doc:id="51cda30a-fda2-4b13-934f-fb67a0cda030" config-ref="HTTP_Request_configuration" path="/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : vars.id
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="053095c8-31a2-4ce4-bb96-af126fa7daa7" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="a78a2dcb-e16d-4368-8098-a1f33c68a37d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b962e92d-0e88-46df-9551-0b6a970bf732" message="#[payload]"/>
	</flow>
</mule>
